@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --green:#3A9943
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    /* transition: all .2s linear; */
}
*::selection{
    background:var(--green);
    color: #fff;

}
html{
    font-size: 60%;
    overflow-x: 
    scroll-behavior: smooth;
    
}
section{
    padding: 1.5rem 2%;
}
.heading{
    font-size:3rem;
    color: #444;
    padding-left: 1rem;
    border-left: .4rem solid var(--green);
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background:var(--green);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background:#333;
}
.header-1,
.header-2,
.header-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:var(--green);
}
.header-1{
    border-bottom: 1rem solid rgba(255,255,255,.2);
}
.header-3{
    background: #fff;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    position: relative;
    z-index: 10000;
}
.header-1 span{
   font-weight: lighter;
   color: #fff; 
   font-size: 2rem;
}
.header-1 a{
    font-weight: lighter;
    color: #fff; 
    font-size: 1.7rem;
}
.header-1 a:hover{
 color: yellow;
 }
 .header-2 .logo{
     font-weight: bolder;
     font-size: 3rem;
     color: #fff;

 }
 .header-2 .logo i{
    color: yellow;
}
.header-2 .search-ber-container{
   display: flex; 
   align-items: center;
   width: 50rem;
   padding: 1.5rem;
   background: rgba(255,255,255,.2);
   border-radius:.5rem;

}
.header-2 .search-ber-container #search-ber{
    width: 100%;
    background: none;
    text-transform: none;
    color: #fff;
    font-size: 1.7rem;
}
.header-2 .search-ber-container #search-ber::placeholder{
    text-transform: capitalize;
    color: #ddd;
}
.header-2 .search-ber-container label{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
}
.header-2 .search-ber-container label:hover{
    color: yellow;
}
.header-3 .navbar{
    color: #666;
    font-size: 2rem;
    margin-right: 26rem;
}
.header-3 .icons a{
    color: #666;
    font-size: 2.5rem;
    margin-left: 1.5rem;
}
.header-3 a:hover {
color:var(--green);
}
.navbar a{
    float: left;
    padding-left: 49px;
    margin: 1px;
    text-align: center;
}
#menu-bur{
    font-size: 2rem;
    color: #666;
    border: 0.1rem solid #666;
    border-radius: .3rem;
    padding: 0.5rem 1.5rem;
}
.home{
    padding-top: 0;

}
.home .home-slider{
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.3);
    border-top: 0;
}

.home .home-slider .box{
    background-size: cover !important;
    background-position: center;
    min-height: 60rem;
    position: relative;
}
.home .home-slider .box .content{
    position: absolute;
    top: 50%; left: 5%;
    transform: translateY(-50%);
    max-width: 50rem;
}
.home .home-slider .box .content span{
    font: 3rem;
    color: #fff;
}
.home .home-slider .box .content h3{
    font-size: 6rem;
    color: rgb(224, 9, 9);
    padding: .5rem 0;
 }
 .banner-containe{
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
}

.banner-containe .banner{
    flex: 1.4rem;
    height: 38rem;
    border: .3rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
}
.banner-containe .banner .content{
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%);

}
.banner-containe .banner img{
height: 80%;
width: 100%;
object-fit: cover;
}
.banner-containe .banner .content h3{
    color:rgb(247, 11, 11);
    font-size: 1.5rem;
    padding-left: 20px;
}
.banner-containe .banner:hover img{
    transform: scale(1.2);
}
 .category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.category .box-container .box{
position: relative;
flex: 1 1 23rem;
height: 40rem;
overflow: hidden;
border: .2rem solid rgba(0,0,0,.3);
box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
}
.category .box-container .box img{
    height: 80%;
    width: 100%;
    object-fit: cover;
   
}
.category .box-container .box .content{
 position: absolute;
  text-align: center;
  padding-left: 30%;
  padding: .5rem;
  width: 100%;
  bottom: -11px;

}
.category .box-container .box:hover .content{
    bottom: 0%;
}
.category .box-container .box .content h3{
    color: red;
    font-size: 2rem;
}
.category .box-container .box .content .btn{
    margin-bottom: 1.3rem;
}
.box .icon{
    float: right;
    
}
.box img{
height: 40%;
width: 100%;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    border: .3rem solid rgba(0,0,0,.3);
}
.contact .row .map{
    width: 100%;
    flex: 1 1 40rem;
}
.contact .row form{
   padding: 2rem;
    flex: 1 1 40rem;
}
.contact .row .inputBox{
    position: relative;
 }
 .contact .row form .inputBox input, .contact .row form .inputBox textarea{
   width: 100%; 
   border-bottom: .2rem solid rgba(0,0,0,.3);
   padding: 1rem 0;
   margin: 1.5rem 0;
   font-size: 1.7rem;
   text-transform: none;
   color: #333;
 }
 .contact .row form .inputBox textarea{
     resize: none;
     height: 15rem;
 }
 .contact .row form .inputBox input:focus,
.contact .row form .inputBox textarea:focus {
     border-color: var(--green);
 }
 .contact .row form .inputBox label{
     position: absolute;
     top: 2.3rem; 
     left: 0;
     font-size: 1.7rem;
 }
 .contact .row form .inputBox input:focus ~label,
.contact .row form .inputBox textarea:focus ~label,
.contact .row form .inputBox input:valid ~label,
.contact .row form .inputBox textarea:valid ~label{
    top: -0.1em;
    font-size: 1.5rem;
    color: #666;
}
.footer .box-container{
display: flex;
flex-wrap: wrap;
gap: 1.5em;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.footer .box-container .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;

}
.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;

}
.footer .box-container .box a:hover{
   text-decoration: underline;
   color:var(--green) ;

}
.footer .credit{
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-top: rgba(0,0,0,.1);
    text-align: center;
    font-weight: normal;
}
.footer .credit a{
    color:var(--green);
}
.scroll-top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 1000;
    font-size: 3.5rem;
    background: rgba(0,255,0,.1);
    color: var(--green);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    padding: .5rem 1.5rem;
    display: none;
}